.parag{
    text-align:left;
}
.parag{
    text-align:left;
}
.well{
    align-content: flex-start ;
    text-align: center;
    align-items: flex-start;

}
#sl1{
    width:80%;
    padding-top:25pt ;
}
#sl2{
    width:auto;
    height:auto;
    padding-top: 5pt ;
    /*height:50%;*/
}
#sl23{
    width:183pt;
    height:170pt;
    padding-top: 20pt ;
}
#sl123{
    width:183pt;
    height:174pt;
    padding-top: 20pt ;
}
.sidenavs{
    align-content: flex-start ;
    text-align: center;
    align-items: flex-start;
}
#hsr{
    text-align:center;
}
.karijeraBut{
    /*padding-top:25pt;*/
    width:50%;
}
.centriranje{
    text-align:center;

}