    <div class="container">

      <div class="row">

        <div class="col-lg-1">

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 text-left">

          <h1 class="text-info">Dobrodošli kod vašeg omiljenog trgovca Unixprom doo</h1>
          <p>
                Kompanija Unixprom doo je društvo sa ogranicenom odgovornoscu, sa sedištem u Paracinu. 
                Osnovana je 2009. a kao društvo sa ogranicenom odgovornoscu. Danas Unixprom doo
                po osnovu vlasništva u kapitalu ima 15 zavisnih društava sa kojima je povezan u Grupu:
                pet proizvodnih, šest trgovinskih na domaćem, četiri trgovinska društva u inostranstvu.
                U okviru Unixprom doo zaposleno je oko 100 ljudi.

            Sva proizvodna društva nalaze se u Srbiji, u Paracinu, 150 kilometara od Beograda. Unixprom doo
            posuđe je najstarije i najveće zavisno društvo koje se bavi proizvodnjom emajliranog, inox 
            i non-stick posuđa.
            Unixprom doo proizvodi inox i granitne sudopere i Granmatrix kompozitne ploče 
            se bavi proizvodnjom kartonske ambalaže i preslikača za posuđe.
          </p>

          <agm-map [latitude]='latitude' [longitude]='longitude' >
            <agm-marker [latitude]='latitude' [longitude]='longitude'></agm-marker>
          </agm-map>

              <hr>
              <h2 class="text-danger">
                  Pitate se koje usluge vršimo?<br>
              </h2>
          <p>
              Unixprom doo je integrisao sisteme upravljanja kvalitetom i 
              zaštitom životne sredine što potvrđuju TÜV sertifikati QMS/EMS 
              ISO 9001 i ISO 14001. 
              Kompanija je izuzetno posvećena svim aspektima održivog razvoja. </p>
              <hr>

              <h3 class="default">O Paracinu</h3>
              <p>
                  Paraćin je grad u Srbiji. Nalazi se na koordinatama 43.87° sever, i 21.41° istok. Opština Paraćin zahvata deo bogatog i plodnog Srednjeg Pomoravlja, teritorija opštine Paraćin se spušta od Kučajskih planina na istoku prema Velikoj Moravi na zapadu ispresecana tokovima reka Crnice i Grze. Sam grad leži na 130 m nadmorske visine, 4 km udaljenosti od reke Velike Morave i na obalama Crnice.

                  Na 156 km je udaljenosti od Beograda, idući međunarodnim auto-putem E-75, južno ka Nišu.
                  
                  Prema popisu iz 1896.god. varoš Paraćin imala je 5486 stanovnika, dok je u selima 
                  sreza živelo 23 800 stanovnika. Današnji broj stanovnika po popisu od 2002.g. je 58310, 
                  od toga pola u gradu a druga polovina u 34 naseljena mesta, mesnim zajednicama. Prvo poznato 
                  naselje nastaje u ranoj praistoriji pre 8000 god. Sa prekidima ovde žive i prolaze 
                  razne etničke populacije Tribali, Sarmati i Rimljani. Ubrzo se ovde nastanjuju i Sloveni sa naseljima od
                   XI do XII veka. Pisani tragovi o nazivu Paraćina kao trga sa panađurom i trga na 
                   Parakinovom brodu vode iz XIV veka (27/14 septembra 1375.g.). U III veku nastaje 
                   poznato Rimsko naselje, Sarmates na putu Via militaris (rimski vojni put) Od 1861.god. 
                   Paraćin dobija status varoši i ubrzo postaje poznat industrijski centar.
                  
                  Nagli razvoj industrije nastaje krajem XIX veka. Osnivaju se fabrika vunenih tkanina 
                  braće Minh, fabrika cementa i fabrika stakla, pa tako početkom XX veka postaje značajno 
                  ekonomsko mesto u Srbiji. Danas je to moderan trgovački centar kome zbog geografskog 
                  položaja i važnih komunikacija prilaze i okolni manji gradovi.Sa razvojem industrije
                   i ekonomije jača društveni i kulturni život, o čemu svedoče duboki istorijski tragovi.
                    Paraćin je jedan od najpoznatijih centara tekstilne industrije u Srbiji po proizvodnji 
                    vunenih tkanina.Mnogi Paraćin nazivaju "Grad štofa"
                 </p>
          </div>

          <!-- AIzaSyARHakXPPY68qVm58CpIpHv6Kj4M2jofWU -->



      <div class="col-lg-1 sidenav">
          <div class="well box small">
          <a href="/"> <img class= 'sl' src="assets/icon/un.jpg" alt=" "> </a>
          </div>
          <br>
          <!-- <div class="well">
                  <a href="https://www.facebook.com/"> <img class= 'sl'src="assets/icon/default.jpg" alt=" "> </a>
          </div> -->
      </div>

          <!-- /.row -->

        </div>

        <!-- /.col-lg-9 -->

    </div>
      
