.radioB{
    display: inline-block;
}
// radio {
//     display: inline;
// }
.choice {
    display: inline;
    margin-left: 3em;
}
.choice input {
    vertical-align: middle;
}
.prijave{
    color: #d31b1b;
}