<!-- Footer -->
<footer class="page-footer font-small">
  <div class="footer">

  <div style="background-color: #039be5 ;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Zapratite nas i na društvenim mrežama</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" class='iconica' href='https://www.facebook.com/unixpromdoo/'>
            <i class="fa fa-facebook white-text mr-4"> </i>
          </a>
          <!-- Twitter --> 
          <a class="tw-ic" class='iconica' href='https://twitter.com/atanacko97?lang=en'>
            <i class="fa fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" class='iconica' href="mailto:unixpromdoogmail.com">
            <i class="fa fa-google-plus white-text mr-4"> </i>
          </a>
          <!--Linkedin  -->
         
          <!--Instagram-->
          <a class="ins-ic" class='iconica' href='https://www.instagram.com/atanackoo21/?hl=en'>
            <i class="fa fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5" >

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Unixprom doo</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Naša firma se bavi prodajom posuđa, čaša, tanjira, tiganja, lonaca
          šerpi, i mnogih drugih proiyvoda od rosfraja, stakla i keramike.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- <a href="/keramika" routerLink = "/" class="list-group-item droup" (click) = 'onKeramika()'>Keramika</a>
          <a  href="/rosfraj" routerLink = "/" class="list-group-item droup" (click) = 'onRosfraj()'>Rosfraj</a>
          <a  href="staklo" routerLink = "/" class="list-group-item droup" (click) = 'onStaklo()'>Staklo</a>
 -->

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Proizvodi</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            <a  href="/" routerLink = "/" (click) ='onKomletnaPonuda()'>Kompletna ponuda</a>
          <!-- <a href="#">MDBootstrap</a> -->
        </p>
        <p>
          <a  href="/rosfraj" routerLink = "/"  (click) = 'onRosfraj()'>Rosfraj</a>
        </p>
        <p>
            <a  href="/staklo" routerLink = "/" (click) = 'onStaklo()'>Staklo</a>
        </p>
        <p>
            <a href="/keramika" routerLink = "/"  (click) = 'onKeramika()'>Keramika</a>
        </p>
      
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Korisni linkovi</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="/about">O nama</a>
        </p>
        <p>
          <a routerLink = "/">O proizvodidma</a>
        </p>
        <p>
          <a href="https://www.bergnerhome.com">Bergner</a>
        </p>
        <p>
          <a href="http://www.metalac.com/">Metalac</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Kontaktirajte nas</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Paraćin, Srbija</p>
        <p>
          <i class="fa fa-envelope mr-3"></i>unixprom@gmail.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +381 63 10 75 386</p>
        <p>
          <i class="fa fa-print mr-3"></i> +381 35 564 707</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> Aleksa Atanacko</a>
  </div>
  <!-- Copyright -->

</div>

</footer>
<!-- Footer -->