footer{
    padding-top: 100pt;
    color: white;
}
.footer{
    background-color:#212121;
}

a:hover {
    color: white;
    text-decoration: none;
}
.iconica:link{
    color: white;
}
.iconica{
    color: white;
}

.iconica:hover{
    color: black;
}