<!-- <div class="col-md-8"> -->
  <ngb-carousel >
    <ng-template ngbSlide>
      <img src="assets/icon/Untitled.jpg" alt="Random first slide" class="caruser">
      <div class="carousel-caption">
        <h3>Akcijska ponuda</h3>
        <p>Širok asortiman keremičkih i staklenih proizvoda</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/icon/asortiman.jpg" alt="Random second slide" class="caruser">
      <div class="carousel-caption">
        <h3>Sniženje na Bergnerove proizvode</h3>
        <p>Široka ponuda Bergnerovih proizvoda</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/icon/12121.jpg" alt="Random third slide" class="caruser">
      <div class="carousel-caption">
        <h3>Sniženje na Bergnerove proizvode</h3>
        <p>Široka ponuda Bergnerovih proizvoda</p>
      </div>
    </ng-template>
  </ngb-carousel>
<!-- </div> -->