.suma{
    padding-left: 30pt;
}
.dug{
    margin-top: 15pt;
    margin-bottom: 15pt;
    margin-left: 230pt;
}
.datum{
    margin-top: 25pt;
    margin-bottom: 15pt;
    margin-left: 5pt;
}
.naslov{
    text-align: center;
    color:#cce236;
}