.prijava{
    padding-right: 5pt;
}
a {
    cursor: pointer;
}
// a {
//     cursor: pointer;
// }
.naslov{
    background-color: #039be5;       
}
.nsl{
    font-family:Impact;
}


.droup:link {
    text-decoration:none;
    }
    
.droup:hover{
    color: white;
    background-color: #039be5 ;
    }
// .dropdown-menu{
//     margin-left: 10pt;
// }
